* {
	font-family: 'Open Sans', sans-serif;
}

#header {
	background-color:rgb(214,102,90);
 	color:white;
    text-align:center;
    padding:1px;
    font-size:20px;
}
#nav {
    text-transform: uppercase;
    background-color:rgb(220,155,116);
 	color: white;
    text-align:center;
    padding:10px; 
	font-size:14px;
}
a {
	color: white;
	text-align: center;
	font-size:14px;
	text-decoration: none;
}
#footer {
    text-transform: uppercase;
    background-color:rgb(220,155,116);
    color:white;
    clear:both;
    text-align:center;
    padding:10px; 
    font-size:14px;
}
h2 {
	color: black;
	font-size: 26px;
	text-decoration: none;
	text-align: center;
}
p {
	color: black;
	text-align: center;
	margin-left:400px;
	margin-right:400px;
}
h3 {
	color: grey;
	font-size:18px;
	text-decoration: none;
	text-align: center;
}
ul {
	margin-left:400px;
	color: black;
}
#img-index {
	margin-left:370px;
}
#img-about {
	margin-left:490px;
}
.portfolio-image {
	margin-left:370px;
	//border-style: solid;
	border-width: 1px;
	border-color: black;
}
	